<%= form_with(model: [@test, @question], local: true) do |form| %>
<%= render 'shared/errors', resourÑe: @question%> 
<p>
  <strong><%= t('.question_for_test:') %></strong>
  <%= form.label :test %>: <%= @question.test.title %>
</p>
 <p>
    <%= form.label :question_text %>:<br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
