<h2><%= t('.test_questions') %></h2>

<p>
  <strong><%= t('.test_title:') %></strong>
  <%= @test.title %>
</p>

  <strong><%= t('.test_questions:') %></strong>
  <br/>
  <%= @test.questions.count%>
  

  <%# <%= render json:{ Questions: Question.all}%>
</p>
