<h2><%= t('.question_show') %></h2>

<p>
  <strong><%= t('.question_test:') %></strong>
  <%= @question.test.title %>
</p>

<p>
  <strong><%= t('.question_body:') %></strong>
  <%= @question.body %>
</p>
