<h2><%= t('.header') %></h2>
<%= link_to t('actions.back'), tests_path %>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th style="text-align:center" ><%= t('.picture') %></th>
      <th style="text-align:center" ><%= t('.badge') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @current_user_badges %>
  </tbody>
</table>