
<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<p><%= t('.score', user: current_user.user) %> 
<% if @test_passage.success? %>
  <span class="color_green"><%= @test_passage.correct_answers_count %>
  </span><%= t('.success') %></p>
<% else %>
  <span class="color_red"><%= @test_passage.correct_answers_count %>
  </span> <%= t('.fail') %></p>
<% end %>

<%= link_to t('.back'), tests_path %>

