<div class="row justify-content-center">
  <div class="col col-md-4">
    <%= form_with(model: [:admin, @test, @question], local: true) do |form| %>
    <%# <%= render 'shared/errors', resourÑe: @question%>

    <p>
        <%= form.label :question_text %>:<br>
        <%= form.text_area :body, :rows => 4, :cols => 50 %>
      </p>
      <p>
        <%= form.submit t('actions.submit'), class: 'btn-primary' %>
        <%= link_to t('action.back'), admin_tests_path %>
      </p>
    <% end %>
  </div>       
</div> 
