<h3><%= t('.header') %></h3>

<table border = "1">
  <th colspan="5"><strong><%= @question.body %></strong> </th>
  <tr>
  <th><%= t('.answer')%></th>
  <th colspan="4"><%= t('actions.actions')%></th>
  </tr>
  <%= render @question.answers%>
</table>
</br>
<%= link_to t('actions.back'), admin_test_path(@question.test) %> |
<%= link_to t('actions.new_answer'), new_admin_question_answer_path(@question) %> |


