<h2><%= t('.header') %></h2>
<%= link_to t('actions.back'), admin_badges_path %>
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th style="text-align:center" ><%= t('.user') %></th>
      <th style="text-align:center" ><%= t('.badge') %></th>
      <th style="text-align:center" ><%= t('.picture') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @user_badges %>
  </tbody>
</table>