<div class="row justify-content-center">
  <div class="col col-md-4">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr style="text-align:center">
          <th colspan="2"><%= link_to t('actions.new_test'), new_admin_test_path %></th>
          <th colspan="2"><%= link_to t('actions.gist_questions'), admin_gists_path %></th> 
        </tr>
        <tr style="text-align:center">
          <th colspan="4" ><%= t('.header')%></th>
        </tr>
      </thead>
      <tr style="text-align:center" >
      <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class:'text-success hide' %>
      <%= octicon 'arrow-down', class:'text-success hide' %>
      </th>
      <th colspan="3" ><%= t('actions.actions') %></th>
      </tr>
      <%= render @tests %>
    </table>
  </div>       
</div>