<table border = "1">
  <tr><%= t('.header') %>:</tr>
  <tr>
  <th colspan="5"><%= link_to t('actions.new_test'), new_admin_test_path %></th>
  </tr>
  <tr>
  <th><%= t('.title') %></th>
  <th colspan="3" ><%= t('actions.actions') %></th>
  </tr>
  <%= render @tests %>
</table>

