<table border = "1">
  <caption><%= t('.header') %>:</caption>
  <tr>
  <th colspan="5"><%= link_to t('.new_test'), new_admin_test_path %></th>
    <th><%= t('.title') %></th>
    <th colspan="3" ><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<% unless user_signed_in? %>
  <p>
  | <%= link_to t('.login'), new_user_session_path %> |
  <%= link_to t('.signup'), new_user_registration_path %> |
  </p>
<% end %>
