<h3><%= t('.header') %></h3>
<p><%= t('.category', category: @test.category.title )%></p>
<p><%= t('.title', title: @test.title)%></p>
<p><%= t('.level', level: @test.level)%></p>

<table border = "1">
  <tr>
    <th><%= t('.question')%></th>
    <th colspan="4"><%= t('actions.actions')%></th>
  </tr>
    <%= render @test.questions %>
</table>
</br>
<%= link_to t('actions.all_tests'), admin_tests_path %> |
<%= link_to t('actions.new_question'), new_admin_test_question_path(@test) %> |


