<tr>
    <td><strong><%= test.title %></strong></td>
    <td rowspan="2" ><%= button_to t('actions.start'), start_test_path(test) %> </td> 
  </tr>
  <tr>
    <td style="font-size:12px" > <%=test_level(test)%> | <%= t('.question') %>: <%=test.questions.count%></td> 
  </tr>

