
  <tr>
    <td><strong><%= test.title %></strong></td>
    
    <td><%= button_to 'Start', start_test_path(test) %> </td> 
    <td><%= link_to t('actions.show'), test_path(test)%> </td>
    <td><%= link_to t('actions.edit'), edit_test_path(test)%> </td>
    <td><%= link_to t('.delete'), test_path(test), 
       method: :delete, 
       data: { confirm: 'Are you sure?' } %>
  </tr>
  <tr>
    <td style="font-size:12px" >Level: <%=test.level%> | Questions: <%=test.questions.count%></td> 
  </tr>

  