<!-- <div class="row justify-content-center">
  <div class="col col-md-4">
    <%= form_with model: :user, local: true do |form| %>

      <p>
        <%= form.label :feedback, class: "form-label"  %>        
        <%= form.text_field :feedback, class: 'form-control form-control-sm', required: true %>
      </p>

      <p>
        <%= form.submit t('actions.submit'), class: 'btn-primary' %>
        <%= link_to t('actions.back'), tests_path %>
      </p>
    <% end %>
  </div>  
</div> -->