<h2><%= t('.tests:') %></h2>

<p>
  <strong><%= t('.number_of_tests:') %></strong>
  <%= @tests.count%>
  </br>
<strong><%= t('.tests_title:') %></strong>
</br>
<% @tests.each do |i|%>
<%= i.title%>
</br>
<% end%>
</p>
</table>
