<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.user %>(<%= current_user.user %>)</b></p>
      <p class="nav signout"> <%= link_to 'Sign out', session_path(session),
                method: :delete,
                data: { confirm: 'Are you sure to sign out?' }  %> </p>
    <% end %>
    
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
