<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></b></p>
      <p class="nav signout"> <%= link_to 'logout', destroy_user_session_path,
                method: :delete,
                data: { confirm: 'Are you sure to logout?' }  %> </p>
    <% end %>

    <%= flash_message %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
